.display {
  background-color: var(--black);
  border: 3px solid #000;
  border-radius: 0.75rem;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  position: relative;
}

.display__currency-grid {
  align-items: center;
  display: grid;
  gap: 1rem 1.25rem;
  grid-template-columns: 1fr 3rem;
  grid-template-rows: repeat(3, auto);
  margin-bottom: 1rem;
}

.display__numbers {
  align-items: center;
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  font-size: clamp(1rem, 8cqi, 3rem);
  font-weight: 600;
  justify-content: flex-end;
  min-height: 10cqi;
  word-break: break-all;
  word-wrap: break-word;
}

.display__prev-operand {
  color: rgba(255, 255, 255, 0.75);
  margin-right: 0.5rem;
}

.display__swap-button {
  align-items: center;
  background-color: var(--grey-primary);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  grid-column: 2;
  grid-row: 1 / span 3;
  height: 3rem;
  justify-content: center;
  outline: none;
  padding: 0.5rem;
  transition: background-color 0.2s ease;
  width: 3rem;
}

.display__swap-button:hover,
.display__swap-button:active {
  background-color: var(--grey-secondary);
}

.display__swap-button:focus-visible:not(:active) {
  border: 1px solid var(--green);
}

.display__swap-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.display__divider {
  background-color: var(--green);
  height: 1px;
  width: 100%;
}

.display__error,
.display__notice {
  font-size: clamp(1rem, 5cqi, 2rem);
}

.display__error {
  color: var(--red);
}

.timestamp {
  color: var(--grey-primary);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
  left: 1rem;
  position: absolute;
  top: 0.125rem;
}
