.calculator__wrapper {
  background-color: var(--grey-primary);
  border: 5px solid var(--grey-secondary);
  border-radius: 1rem;
  container-type: inline-size;
  display: grid;
  grid-template-rows: minmax(16rem, max-content) 1fr;
  height: 100%;
  max-height: 100vh;
  max-width: 450px;
  padding: 0.5rem;
  width: 100%;
}

@media (min-width: 450px) {
  .calculator__wrapper {
    grid-template-rows: minmax(18rem, max-content) 1fr;
  }
}

@media (min-height: 750px) and (max-width: 449px) and (orientation: portrait),
  (min-width: 450px) and (min-height: 850px) {
  .calculator__wrapper {
    height: auto;
  }
}

.calculator__buttons {
  background: var(--grey-primary);
  display: grid;
  gap: 2cqi;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  margin-top: 0.5rem;
  padding: 1cqi;
}
