@import "@fontsource-variable/oxanium";

:root {
  --grey-primary: #3a4452;
  --grey-secondary: #2e3742;
  --black: #111;
  --white: #fff;
  --white-transparent: rgba(255, 255, 255, 0.75);
  --green: #33ffd8;
  --red: #ff7541;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--grey-primary);
  font-family: "Oxanium Variable", sans-serif;
}

#root {
  align-items: center;
  display: flex;
  height: 100svh;
  justify-content: center;
}
